<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.0 Transitional//EN">
<HTML>
<head>
  <meta http-equiv="content-type" content="text/html; charset=ISO-8859-1">
  <!--<link type="text/css" rel="stylesheet" href="templates/standard/search.css">-->
  <!-- suggest script -->
  <style type="text/css">@import url("include/js_suggest/SuggestFramework.css");</style>
  <script type="text/javascript" src="include/js_suggest/SuggestFramework.js"></script>
  <script type="text/javascript">window.onload = initializeSuggestFramework;</script>
  <!-- /suggest script -->
  <script src="https://use.typekit.net/dxz2mkp.js"></script>
  <script>try{Typekit.load({ async: true });}catch(e){}</script>

  <meta http-equiv="content-type" content="text/html; charset=utf-8" />

  <meta class="swiftype" name="description" data-type="text" content="Learn what an annuity is. In addition to the annuity definition, learn about annuities' pros and cons and how they can help you at each stage of your life.">

  <!-- Stylesheets
  ============================================= -->


  <link href="http://fonts.googleapis.com/css?family=Lato:300,400,400italic,600,700|Raleway:300,400,500,600,700|Crete+Round:400italic" rel="stylesheet" type="text/css" />
  <link rel="stylesheet" href="/css/bootstrap.css" type="text/css" />
  <link rel="stylesheet" href="/style.css" type="text/css" />
  <link rel="stylesheet" href="/css/dark.css" type="text/css" />
  <link rel="stylesheet" href="/css/font-icons.css" type="text/css" />
  <link rel="stylesheet" href="/css/animate.css" type="text/css" />
  <link rel="stylesheet" href="/css/magnific-popup.css" type="text/css" />

  <link rel="stylesheet" href="/css/responsive.css" type="text/css" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
  <!--[if lt IE 9]>
  <script src="http://css3-mediaqueries-js.googlecode.com/svn/trunk/css3-mediaqueries.js"></script>
  <![endif]-->

  <!-- External JavaScripts
  ============================================= -->
  <script type="text/javascript" src="../js/jquery.js"></script>
  <script type="text/javascript" src="../js/plugins.js"></script>

  <!-- Document Title
  ============================================= -->
  <title>Search Results | Fidelity & Guaranty Life</title>

</head>

<body class="stretched">

<!-- Document Wrapper
============================================= -->
<div id="wrapper" class="clearfix">

  <!-- Top Bar
  ============================================= -->
  <div id="top-bar">

    <div class="container clearfix">

      <div class="col_full nobottommargin clearfix">

        <!-- Top Links
        ============================================= -->


        <div class="top-links fright" >

          <ul>
            <li>
              <a href="#" class="login-btn button button-3d button-green btn-block center" onclick="jQuery('.top-link-section').toggle();">Login to SalesLink</a>
              <div class="top-link-section">
                <form id="top-login" role="form" name="login-form">
                  <div class="input-group" id="top-login-username">
                    <span class="input-group-addon"><i class="icon-user"></i></span>
                    <input type="email" class="form-control" placeholder="Username" required="">
                  </div>
                  <div class="input-group" id="top-login-password">
                    <span class="input-group-addon"><i class="icon-key"></i></span>
                    <input type="password" class="form-control" placeholder="Password" required="">
                  </div>

                  <button class="btn btn-block" type="submit" style="background-color: #19a094; color:white;">Sign in</button>
                </form>
              </div>
            </li>
          </ul>
        </div>

        <!-- .top-links end -->

      </div>

    </div>

  </div><!-- #top-bar end -->

  <!-- Header
  ============================================= -->
  <header id="header" class="full-header">

    <div id="header-wrap">

      <div class="container clearfix">

        <div id="primary-menu-trigger"><i class="icon-reorder"></i></div>

        <!-- Logo
        ============================================= -->
        <div id="logo">
          <a href="/index.html" class="standard-logo" data-dark-logo="../images/fgl-logo-dark.png"><img src="../images/fgl-logo.png" alt="FGL Logo"></a>
          <a href="/index.html" class="retina-logo" data-dark-logo="../images/fgl-logo-dark@2x.png"><img src="../images/fgl-logo@2x.png" alt="FGL Logo"></a>
        </div><!-- #logo end -->

        <!-- Primary Navigation
        ============================================= -->
        <nav id="primary-menu">

          <ul>
            <li><a href="/annuities.html"><div>Annuities</div></a>
              <ul>
                <li><a href="/contact/life-insurance-annuity-forms.html"><div>Download Forms</div></a></li>
                <li><a href="what-is-an-annuity.html"><div>Annuities 101</div></a></li>
                <li><a href="prosperity-elite-series.html"><div>Prosperity Elite</div></a></li>
                <li><a href="performance-pro.html"><div>Performance Pro</div></a></li>
                <li><a href="safe-income-plus.html"><div>Safe Income Plus</div></a></li>
                <li><a href="fg-retirement-pro.html"><div>FG Retirement Pro</div></a></li>
                <li><a href="fg-index-choice-10.html"><div>FG Index-Choice 10</div></a></li>
                <li><a href="fgny-index-safety-7.html"><div>FGNY Index-Safety 7</div></a></li>
                <li><a href="fgny-index-choice-10.html"><div>FGNY Index-Choice 10</div></a></li>
                <li><a href="fg-guarantee-platinum.html"><div>FG Guarantee-Platinum</div></a></li>
                <li><a href="fg-immediate-income.html"><div>FG Immediate-Income</div></a></li>
              </ul>
            </li>
            <li><a href="/life-insurance.html"><div>Life Insurance</div></a>
              <ul>
                <li><a href="/contact/life-insurance-annuity-forms.html"><div>Download Forms</div></a></li>
                <li><a href="/life-insurance/what-is-life-insurance.html"><div>Life 101</div></a></li>
                <li><a href="/life-insurance/fg-life-elite.html"><div>FG Life-Elite</div></a></li>
                <li><a href="/life-insurance/fg-life-choice.html"><div>FG Life-Choice</div></a></li>
              </ul>
            </li>
            <li><a href="/investor-relations.html"><div>Investors</div></a>
              <ul>
                <li><a href="/investor-relations/financial-reports-information.html"><div>Financial Information</div></a></li>
                <li><a href="/investor-relations/board-of-directors.html"><div>Board of Directors</div></a></li>
                <li><a href="/investor-relations/sec-filings.html"><div>SEC Filings</div></a></li>
                <li><a href="/investor-relations/press-releases.html"><div>Press Releases</div></a></li>
                <li><a href="/investor-relations/annual-reports.html"><div>Annual Reports</div></a></li>
                <li><a href="/investor-relations/events-calendar-presentations.html"><div>Calendar &amp; Presentations</div></a></li>
                <li><a href="/investor-relations/statutory-statements.html"><div>Statutory Statements</div></a></li>
                <li><a href="/investor-relations/corporate-governance.html"><div>Corporate Governance</div></a></li>
                <li><a href="/investor-relations/shareholder-services.html"><div>Shareholder Services</div></a></li>
                <li><a href="/investor-relations/bondholder-relations.html"><div>Bondholder Relations</div></a></li>

              </ul>
            </li>
            <li><a href="../about.html"><div>About</div></a>
              <ul>
                <li><a href="/about/insurance-company-ratings.html"><div>Ratings</div></a></li>
                <li><a href="/about/careers.html"><div>Careers</div></a></li>
                <li><a href="/about/leadership-team.html"><div>Leadership Team</div></a></li>

                <li><a href="/about/corporate-responsibility.html"><div>Corporate Responsibility</div></a></li>
              </ul>
            </li>

            <li><a href="../contact.html"><div>Contact</div></a>

            </li>

          </ul>

          <!-- Top Search
          ============================================= -->
          <div id="top-search">
            <a href="#" id="top-search-trigger"><i class="icon-search3"></i><i class="icon-line-cross"></i></a>
            <form action="search.php" method="get">
              <input type="text" name="query" class="form-control" value="" placeholder="Type &amp; Hit Enter..">
              <input name="search" type="hidden" value="1" />
            </form>
          </div><!-- #top-search end -->

        </nav><!-- #primary-menu end -->

      </div>

    </div>

  </header><!-- #header end -->



  <div class="top-block section nomargin noborder dark">
    <div class="container center clearfix">

      <div class=" col_half notopmargin nobottommargin">
        <h1 class="page-title" style="text-transform: uppercase">Search Results</h1>
      </div>

      <div class="col_half notopmargin nobottommargin col_last">
        <p class="breadcrumbs"><a href="/index.html">Home</a> / <a href="search.php">Search</a>
      </div>

    </div>
  </div>
  <!-- Content
  ============================================= -->
  <section id="content" class="annuities-page">

    <div class="content-wrap">

      <div class="container clearfix ">

        <div class="clear"></div>

        <div class="col_full">

          <h3 class="blue-heading bottommargin-sm">Your Results</h3>

