<rewriteMaps>
    <rewriteMap name="OldSiteToNewSiteRedirects" defaultValue="">
	<add key="/about-fgl" value="/about.html" />
	<add key="/about-fgl/board-of-directors" value="/investor-relations/board-of-directors.html" />
	<add key="/about-fgl/careers" value="/about/careers.html" />
	<add key="/about-fgl/careers/our-benefits" value="/about/careers.html" />
	<add key="/about-fgl/company-culture" value="/about/corporate-responsibility.html" />
	<add key="/about-fgl/corporate-responsibility" value="/about/corporate-responsibility.html" />
	<add key="/about-fgl/investment-portfolio" value="/about.html" />
	<add key="/about-fgl/leadership-team" value="/about/leadership-team.html" />
	<add key="/about-fgl/leadership-team/chris-fleming" value="/about/leadership-team.html" />
	<add key="/about-fgl/leadership-team/chris-littlefield" value="/about/leadership-team.html" />
	<add key="/about-fgl/leadership-team/dennis-vigneau" value="/about/leadership-team.html" />
	<add key="/about-fgl/leadership-team/eric-marhoun" value="/about/leadership-team.html" />
	<add key="/about-fgl/leadership-team/john-oshaughnessy" value="/about/leadership-team.html" />
	<add key="/about-fgl/leadership-team/john-phelps" value="/about/leadership-team.html" />
	<add key="/about-fgl/leadership-team/paul-tyler" value="/about/leadership-team.html" />
	<add key="/about-fgl/leadership-team/raj-krishnan" value="/about/leadership-team.html" />
	<add key="/about-fgl/leadership-team/rose-boehm" value="/about/leadership-team.html" />
	<add key="/about-fgl/leadership-team/wendy-jb-young" value="/about/leadership-team.html" />
	<add key="/about-fgl/ratings" value="/about/insurance-company-ratings.html" />

	<add key="/agent-central" value="/contact/agent-support.html" />
	<add key="/agent-central/change-contracting-status" value="/contact/agent-change-contract-status.html" />
	<add key="/agent-central/getting-contracted" value="/contact/agent-get-contracted.html" />
	<add key="/agent-central/product-tutorials" value="/contact/agent-get-contracted.html" />
	<add key="/agent-central/prosperity-elite-ipad-app" value="/contact/agent-get-contracted.html" />
	<add key="/agent-central/sales-tools" value="/contact/agent-get-contracted.html" />
	<add key="/annuities" value="/annuities.html" />
	<add key="/annuities/annuities-101" value="/annuities/what-is-an-annuity.html" />
	<add key="/annuities/annuity-exchange" value="/annuities.html" />
	<add key="/annuities/annuity-product-comparisons" value="/annuities.html" />
	<add key="/annuities/download-forms" value="/contact/life-insurance-annuity-forms.html" />
	<add key="/annuities/download-forms/apply-for-proceeds" value="/contact/manage-policies/exchange-of-proceeds.html" />
	<add key="/annuities/download-forms/change-address" value="/contact/manage-policies/how-to-change-address.html" />
	<add key="/annuities/download-forms/change-beneficiary" value="/contact/manage-policies/how-to-change-beneficiary.html" />
	<add key="/annuities/download-forms/convert-ira" value="/contact/manage-policies/convert-ira-to-roth-ira.html" />
	<add key="/annuities/download-forms/direct-deposit" value="/contact/manage-policies/change-direct-deposit-for-annuity-payments.html" />
	<add key="/annuities/download-forms/disbursement-request" value="/contact/life-insurance-annuity-forms.html" />
	<add key="/annuities/download-forms/duplicate-policy" value="/contact/life-insurance-annuity-forms.html" />
	<add key="/annuities/download-forms/fgny-disbursement-request" value="/contact/life-insurance-annuity-forms.html" />
	<add key="/annuities/download-forms/fgny-minimum-disbursement-requirment" value="/contact/life-insurance-annuity-forms.html" />
	<add key="/annuities/download-forms/fgny-request-transer" value="/contact/life-insurance-annuity-forms.html" />
	<add key="/annuities/download-forms/fgny-service-request" value="/contact/life-insurance-annuity-forms.html" />
	<add key="/annuities/download-forms/lost-policy" value="/contact/manage-policies/report-lost-policy.html" />
	<add key="/annuities/download-forms/name-change" value="/contact/manage-policies/how-to-change-name.html" />
	<add key="/annuities/download-forms/policy-as-collateral" value="/contact/manage-policies/use-policy-as-collateral.html" />
	<add key="/annuities/download-forms/request-minimum-distribution" value="/contact/manage-policies/request-rmd-from-qualified-plan.html" />
	<add key="/annuities/download-forms/surrender-policy-life" value="/contact/manage-policies/request-surrender-of-life-insurance-contract.html" />
	<add key="/annuities/download-forms/tax-shelter-annuity" value="/contact/manage-policies/annuitize-403b-tax-sheltered-annuity-contract.html" />
	<add key="/annuities/download-forms/transfer-ownership" value="/contact/manage-policies/transfer-ownership.html" />
	<add key="/annuities/fg-accumulatorplus-series" value="/annuities/annuities.html" />
	<add key="/annuities/fg-guarantee-platinum" value="/annuities/fg-guarantee-platinum.html" />
	<add key="/annuities/fg-immediate-income" value="/annuities/fg-immediate-income.html" />
	<add key="/annuities/fg-index-choice-10" value="/annuities/fg-index-choice-10.html" />
	<add key="/annuities/fgny-index-choice-10" value="/annuities/fgny-index-choice-10.html" />
	<add key="/annuities/fgny-index-safety-7" value="/annuities/fgny-index-safety-7.html" />
	<add key="/annuities/fg-retirement-pro" value="/annuities/fg-retirement-pro.html" />
	<add key="/annuities/income-and-wealthbuilder-series" value="/annuities.html" />
	<add key="/annuities/performance-pro" value="/annuities/performance-pro.html" />
	<add key="/annuities/product-performance" value="/annuities.html" />
	<add key="/annuities/prosperity-elite-series" value="/annuities/prosperity-elite-series.html" />
	<add key="/annuities/safe-income-plus" value="/annuities/safe-income-plus.html" />
	<add key="/annuity-products/prosperity-elite-series" value="/annuities/prosperity-elite-series.html" />
	<add key="/become-an-agent" value="/contact/agent-get-contracted.html" />
	<add key="/become-an-agent/donthaveuid" value="/contact/agent-get-contracted.html" />
	<add key="/become-an-agent/find-an-imo" value="/contact/contact/find-an-imo.html" />
	<add key="/become-an-agent/getting-contracted" value="/contact/agent-get-contracted.html" />
	<add key="/become-an-agent/resources" value="/contact/agent-get-contracted.html" />
	<add key="/become-an-agent/training" value="/contact/agent-get-contracted.html" />
	<add key="/contact-us" value="/contact.html" />
	<add key="/contact-us/contact-us-form" value="/contact.html" />
	<add key="/docs/annuity-products/adv1010-pub.pdf?sfvrsn=6" value="https://d2liin8b37blzf.cloudfront.net/brochures/adv1010-pub.pdf" />
	<add key="/docs/annuity-products/adv1011-pub.pdf?sfvrsn=2" value="https://d2liin8b37blzf.cloudfront.net/brochures/adv1011-pub.pdf" />
	<add key="/docs/annuity-products/adv1391.pdf?sfvrsn=6" value="https://d2liin8b37blzf.cloudfront.net/brochures/adv1391.pdf" />
	<add key="/docs/annuity-products/adv1392.pdf?sfvrsn=8" value="https://d2liin8b37blzf.cloudfront.net/brochures/adv1392.pdf" />
	<add key="/docs/annuity-products/adv1393.pdf?sfvrsn=8" value="https://d2liin8b37blzf.cloudfront.net/brochures/adv1393.pdf" />
	<add key="/docs/annuity-products/adv1519--public-site.pdf?sfvrsn=2" value="https://d2liin8b37blzf.cloudfront.net/brochures/adv1519--public-site.pdf" />
	<add key="/docs/annuity-products/adv1572.pdf?sfvrsn=22" value="https://d2liin8b37blzf.cloudfront.net/brochures/adv1572.pdf" />
	<add key="/docs/annuity-products/nyco2016-pub.pdf?sfvrsn=4" value="https://d2liin8b37blzf.cloudfront.net/brochures/nyco2016-pub.pdf" />
	<add key="/docs/annuity-products/nyco2017-pub.pdf?sfvrsn=4" value="https://d2liin8b37blzf.cloudfront.net/brochures/nyco2017-pub.pdf" />
	<add key="/docs/fg-annuity/adv1281.pdf?sfvrsn=4" value="https://d2liin8b37blzf.cloudfront.net/brochures/adv1281.pdf" />
	<add key="/docs/fg-annuity/adv1281.pdf?sfvrsn=8" value="https://d2liin8b37blzf.cloudfront.net/brochures/adv1281.pdf" />
	<add key="/docs/fg-annuity/adv1506-income-and-wealthbuilder-7-consumer-brochure.pdf?sfvrsn=2" value="/annuities.html" />
	<add key="/docs/fg-annuity/adv1507.pdf?sfvrsn=0" value="/annuities.html" />
	<add key="/docs/fg-annuity/adv1507-income-and-wealthbuilder-10-consumer-brochure.pdf?sfvrsn=2" value="/annuities.html" />
	<add key="/docs/fg-annuity/adv1591-public-site.pdf?sfvrsn=2" value="https://d2liin8b37blzf.cloudfront.net/brochures/adv1591-public-site.pdf" />
	<add key="/docs/fg-annuity/nyad3045.pdf?sfvrsn=4" value="/contact/manage-policies/request-rmd-from-qualified-plan.html" />
	<add key="/docs/fg-life-product-forms/admin0177.pdf?sfvrsn=6" value="/contact/life-insurance-annuity-forms.html" />
	<add key="/docs/fg-life-product-forms/admin0840.pdf?sfvrsn=4" value="/contact/manage-policies/transfer-ownership.html" />
	<add key="/docs/fg-life-product-forms/admin3664.pdf?sfvrsn=4" value="/contact/manage-policies/report-lost-policy.html" />
	<add key="/docs/fg-life-product-forms/admin5242.pdf?sfvrsn=4" value="/contact/life-insurance-annuity-forms.html" />
	<add key="/docs/fg-life-product-forms/admin5519.pdf?sfvrsn=4" value="/contact/manage-policies/use-policy-as-collateral.html" />
	<add key="/docs/fg-life-product-forms/admin5590.pdf?sfvrsn=4" value="/contact/manage-policies/request-loan-from-life-insurance-contract.html" />
	<add key="/docs/fgny-annuity/nyad3015.pdf" value="/contact/life-insurance-annuity-forms.html" />
	<add key="/docs/fgny-annuity/nyad3016.pdf" value="/contact/life-insurance-annuity-forms.html" />
	<add key="/docs/fgny-annuity/nyad3027AC2D6517207B.pdf" value="/contact/life-insurance-annuity-forms.html" />
	<add key="/docs/fgny-annuity/nyad3045.pdf?sfvrsn=4" value="/contact/life-insurance-annuity-forms.html" />
	<add key="/docs/fgny-life-product-forms/nyad3023.pdf?sfvrsn=2" value="/contact/life-insurance-annuity-forms.html" />
	<add key="/docs/fgny-life-product-forms/nyad3024.pdf?sfvrsn=2" value="/contact/life-insurance-annuity-forms.html" />
	<add key="/docs/fgny-life-product-forms/nyad3027.pdf?sfvrsn=2" value="/contact/life-insurance-annuity-forms.html" />
	<add key="/docs/life-products/adv1309.pdf?sfvrsn=4" value="https://d2liin8b37blzf.cloudfront.net/brochures/adv1309.pdf" />
	<add key="/docs/life-products/adv1311.pdf?sfvrsn=4" value="https://d2liin8b37blzf.cloudfront.net/brochures/adv1311.pdf" />
	<add key="/find-an-agent" value="/contact/talk-to-agent.html" />
	<add key="/home" value="/" />
	<add key="/investors" value="/investor-relations.html" />
	<add key="/investors/annual-reports-and-br-proxy-statements" value="/investor-relations/annual-reports.html" />
	<add key="/investors/board-of-directors" value="/investor-relations/board-of-directors.html" />
	<add key="/investors/bondholder-relations" value="/investor-relations/bondholder-relations.html" />
	<add key="/investors/calendar-presentations" value="/investor-relations/events-calendar-presentations.html" />
	<add key="/investors/corporate-governance" value="/investor-relations/corporate-governance.html" />
	<add key="/investors/financial-information" value="/investor-relations/financial-reports-information.html" />
	<add key="/investors/press-releases" value="/investor-relations/press-releases.html" />
	<add key="/investors/sec-filings" value="/investor-relations/sec-filings.html" />
	<add key="/investors/shareholder-services" value="/investor-relations/shareholder-services.html" />
	<add key="/investors/statutory-statements" value="/investor-relations/statutory-statements.html" />
	<add key="/legal-information" value="/website-terms.html" />
	<add key="/life-insurance" value="/life-insurance.html" />
	<add key="/life-insurance/download-forms" value="/contact/life-insurance-annuity-forms.html" />
	<add key="/life-insurance/download-forms/apply-for-proceeds" value="/contact/manage-policies/exchange-of-proceeds.html" />
	<add key="/life-insurance/download-forms/change-address" value="/contact/manage-policies/how-to-change-address.html" />
	<add key="/life-insurance/download-forms/change-beneficiary" value="/contact/manage-policies/how-to-change-beneficiary.html" />
	<add key="/life-insurance/download-forms/convert-ira" value="/contact/manage-policies/convert-ira-to-roth-ira.html" />
	<add key="/life-insurance/download-forms/duplicate-policy" value="/contact/life-insurance-annuity-forms.html" />
	<add key="/life-insurance/download-forms/fgny-minimum-disbursement-requirment" value="/contact/life-insurance-annuity-forms.html" />
	<add key="/life-insurance/download-forms/fgny-request-transer" value="/contact/life-insurance-annuity-forms.html" />
	<add key="/life-insurance/download-forms/fgny-service-request" value="/contact/life-insurance-annuity-forms.html" />
	<add key="/life-insurance/download-forms/lost-policy-certification" value="/contact/manage-policies/report-lost-policy.html" />
	<add key="/life-insurance/download-forms/name-change" value="/contact/manage-policies/how-to-change-name.html" />
	<add key="/life-insurance/download-forms/policy-as-collateral" value="/contact/manage-policies/use-policy-as-collateral.html" />
	<add key="/life-insurance/download-forms/request-minimum-distribution" value="/contact/manage-policies/request-rmd-from-qualified-plan.html" />
	<add key="/life-insurance/download-forms/surrender-policy-life" value="/contact/manage-policies/request-surrender-of-life-insurance-contract.html" />
	<add key="/life-insurance/download-forms/tax-shelter-annuity" value="/contact/manage-policies/annuitize-403b-tax-sheltered-annuity-contract.html" />
	<add key="/life-insurance/download-forms/transfer-ownership" value="/contact/manage-policies/transfer-ownership.html" />
	<add key="/life-insurance/fg-life-choice" value="/life-insurance/fg-life-choice.html" />
	<add key="/life-insurance/fg-life-elite" value="/life-insurance/fg-life-elite.html" />
	<add key="/life-insurance/life-insurance-101" value="/life-insurance/what-is-life-insurance.html" />
	<add key="/life-insurance/life-product-comparisons" value="/life-insurance.html" />
	<add key="/privacy-policy" value="/privacy-policy.html" />
	<add key="/why-fgl-" value="/about.html" />
	
	<add key="/about-fgl/leadership-team/lee-launer-ceo" value="/about/leadership-team.html" />
	<add key="/annuity-products/fg-guarantee-platinum" value="/annuities.html" />
	<add key="/contact/contact/find-an-imo.html" value="/contact/find-an-imo.html" />
	<add key="/life-insurance/fg-life-gold/fg-life-gold-agent-training" value="/life-insurance.html" />
		
    </rewriteMap>
</rewriteMaps>
