<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.web>
      <httpRuntime enableVersionHeader="false" />
      <customErrors mode="RemoteOnly" defaultRedirect="/error.html" redirectMode="ResponseRedirect">
	<error statusCode="404" redirect="/404.html"/>
      </customErrors>
    </system.web>
    <system.webServer>

        <httpErrors errorMode="DetailedLocalOnly" defaultResponseMode="ExecuteURL" defaultPath="/error.html">
          <remove statusCode="400" subStatusCode="-1"  />
          <remove statusCode="401" subStatusCode="-1" />
          <remove statusCode="403" subStatusCode="-1" />      
          <remove statusCode="404" subStatusCode="-1" />                
          <remove statusCode="405" subStatusCode="-1" />                
          <remove statusCode="406" subStatusCode="-1" />                
          <remove statusCode="412" subStatusCode="-1" />                
          <remove statusCode="500" subStatusCode="-1" />
          <remove statusCode="501" subStatusCode="-1" />
          <remove statusCode="502" subStatusCode="-1" />

          <!-- EXAMPLE: Full url when responsemode is Redirect -->
          <!-- error statusCode="401" path="http://foo.com/default.htm" responseMode="Redirect" -->

          <!-- Local relative path when responsemode is ExecuteURL -->
          <error statusCode="400" path="/error.html" responseMode="ExecuteURL" />
          <error statusCode="401" path="/error.html" responseMode="ExecuteURL" />
          <error statusCode="403" path="/error.html" responseMode="ExecuteURL" />
          <error statusCode="404" path="/404.html"   responseMode="ExecuteURL" />
          <error statusCode="405" path="/error.html" responseMode="ExecuteURL" />
          <error statusCode="406" path="/error.html" responseMode="ExecuteURL" />
          <error statusCode="412" path="/error.html" responseMode="ExecuteURL" />
          <error statusCode="500" path="/error.html" responseMode="ExecuteURL" />
          <error statusCode="501" path="/error.html" responseMode="ExecuteURL" />
          <error statusCode="502" path="/error.html" responseMode="ExecuteURL" />
        </httpErrors>

        <staticContent>
            <mimeMap fileExtension=".woff" mimeType="application/x-font-woff" />
            <clientCache cacheControlMode="UseMaxAge" cacheControlMaxAge="08:00:00" />
        </staticContent>
        <urlCompression doDynamicCompression="true" />
        <defaultDocument>
            <files>
                <clear />
                <add value="index.html" />
                <add value="Default.htm" />
                <add value="Default.asp" />
                <add value="index.htm" />
                <add value="iisstart.htm" />
                <add value="default.aspx" />
            </files>
        </defaultDocument>
        <rewrite>
            <rules>
                <rule name="Redirect to HTTPS" stopProcessing="true">
                    <match url="(.*)" />
                    <conditions>
                        <add input="{HTTPS}" pattern="^OFF$" />
                    </conditions>
                    <action type="Redirect" url="https://{HTTP_HOST}/{R:1}" />
                </rule>
                <rule name="Rewrite rule1 for OldSiteToNewSiteRedirects" stopProcessing="true">
                    <match url=".*" />
                    <conditions>
                        <add input="{OldSiteToNewSiteRedirects:{REQUEST_URI}}" pattern="(.+)" />
                    </conditions>
                    <action type="Redirect" url="{C:1}" appendQueryString="false" />
                </rule>
            </rules>
	    <rewriteMaps configSource="RewriteMaps.config" />
            <outboundRules>
                <rule name="Remove Server Header from Reponse Header">
                    <match serverVariable="RESPONSE_SERVER" pattern=".*" />
                    <action type="Rewrite" />
                </rule>
            </outboundRules>
        </rewrite>

	<httpProtocol>
	    <customHeaders>
              <remove name="X-Powered-By" />
	      <add name="X-Frame-Options" value="SAMEORIGIN" />
	    </customHeaders>
	 </httpProtocol>

    </system.webServer>
    <location path="" overrideMode="Deny">
        <system.webServer>
        </system.webServer>
    </location>
    <location path="" overrideMode="Allow">


    </location>
</configuration>
